__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
.env
.env.*
.python-version

.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
.tox/

build/
dist/
*.egg-info/

.git/
.gitignore
.idea/
.vscode/
.DS_Store

data/
